body {
    font: 10px sans-serif;
}

#family-tree {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background {
    fill: none;
    pointer-events: all;
}

.link {
    fill: none;
    stroke: #000;
}

.sibling {
    fill: none;
    stroke: blue;
}

.border {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #aaa;
}

.person rect {
    stroke: red;
    fill:white;
}